name = "Tracking Guardian"
client_id = "00abdc5a393d94902ada694e9cb85e5f"
application_url = "https://tracking-guardian.onrender.com"
embedded = true

[access_scopes]
scopes = "read_script_tags,read_pixels,write_pixels,read_customer_events,read_orders"

[auth]
redirect_urls = [
  "https://tracking-guardian.onrender.com/auth/callback",
  "https://tracking-guardian.onrender.com/auth/shopify/callback",
  "https://tracking-guardian.onrender.com/api/auth/callback"
]

[webhooks]
api_version = "2025-07"

[[webhooks.subscriptions]]
topics = ["app/uninstalled"]
uri = "/webhooks"

[[webhooks.subscriptions]]
compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
uri = "/webhooks"

[pos]
embedded = false

[build]
automatically_update_urls_on_dev = true
