name = "Tracking Guardian"
client_id = "${SHOPIFY_API_KEY}"
application_url = "${SHOPIFY_APP_URL}"
embedded = true

[access_scopes]
scopes = "read_orders,read_script_tags,read_pixels,write_pixels,read_customer_events"

[auth]
redirect_urls = [
  "${SHOPIFY_APP_URL}/auth/callback",
  "${SHOPIFY_APP_URL}/auth/shopify/callback",
  "${SHOPIFY_APP_URL}/api/auth/callback"
]

[webhooks]
api_version = "2025-07"

[[webhooks.subscriptions]]
compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
uri = "/webhooks"

[pos]
embedded = false

[build]
automatically_update_urls_on_dev = true
dev_store_url = "${SHOPIFY_DEV_STORE_URL}"
