api_version = "2026-01"

[[extensions]]
type = "ui_extension"
name = "Thank You Blocks"
handle = "thank-you-blocks"
uid = "28265bef-6b73-8ff2-b435-ff7dfe76cd4e78b69818"

[[extensions.targeting]]
target = "purchase.thank-you.block.render"
module = "./src/thank-you.tsx"

[[extensions.targeting]]
target = "customer-account.order-status.block.render"
module = "./src/order-status.tsx"

[extensions.capabilities]
network_access = true
